<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD78INQi-lEZ-N355kzMrMmxo4d4K1gjk</string>
	<key>GCM_SENDER_ID</key>
	<string>1094956104944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-73130</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-73130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094956104944:ios:fb8cecbb7676520c525635</string>
</dict>
</plist>